<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <title>Registration</title>
</head>

<body>
  <h1 style="background-color: #28a745; padding-left: 45%;">Registration</h1>
  <form method="POST" action="/register">
    <input placeholder="Email" type="email" name="email" style="margin-left: 40%">
    <input placeholder="Password" type="password" name="password">
    <br>
    <button class="btn btn-outline-success" style="margin-left: 900px; margin-top: 10px;">Submit</button>
  </form>
</body>
</html>