<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <title>Registration</title>
</head>

<body>
  <header>
    <%- include ('partials/_header') %> 
  </header>
  <h1 style="margin-top: 10px; margin-left: 10px;"><strong>Create Account</strong></h1>
  <form method="POST" action="/register">
    <h5 style="margin-left: 10px;">Email Adress</h5>
    <input placeholder="Email" type="email" name="email" style="margin-bottom: 10px; margin-left: 10px;">
    <h5 style="margin-left: 10px;">Password</h5>
    <input placeholder="Password" type="password" name="password" style="margin-left: 10px;">
    <br>
    <button class="btn btn-outline-success" style="margin-top: 10px; margin-left: 10px;">Register</button>
  </form>
</body>
</html>