<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap CSS -->
  <link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
  integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
  crossorigin="anonymous"
/>
  <title>Login</title>
</head>

<body>
  <h1 style="background-color: #28a745;">Login</h1>
  <br>
  <form method="POST" action="/login">
    <input placeholder="Email" type="email" name="email" style=>
    <input placeholder="Password" type="password" name="password">
    <button type="input" class="btn btn-outline-success">Log In</button>
  </form>
</body>
</html>